<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.astriex.reflection">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".di.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Reflection"
        tools:ignore="AllowBackup">
        <activity
            android:name="com.astriex.reflection.presentation.activity.editNote.EditNoteActivity"
            android:parentActivityName="com.astriex.reflection.presentation.activity.notesList.NotesListActivity"
            android:label="Edit Note"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.astriex.reflection.presentation.activity.notesList.NotesListActivity" />
        <activity
            android:name="com.astriex.reflection.presentation.activity.postNote.PostNoteActivity"
            android:parentActivityName="com.astriex.reflection.presentation.activity.notesList.NotesListActivity"
            android:label="New Note"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.astriex.reflection.presentation.activity.register.RegisterActivity"
            android:parentActivityName="com.astriex.reflection.presentation.activity.login.LoginActivity"
            android:label="Register"
            android:screenOrientation="portrait"/>
        <activity android:name="com.astriex.reflection.presentation.activity.login.LoginActivity"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity android:name="com.astriex.reflection.presentation.activity.intro.IntroActivity"
            android:label="Reflection"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>