<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.astriex.reflection">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".di.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Reflection"
        tools:ignore="AllowBackup">
        <activity
            android:name=".ui.activities.editNote.EditNoteActivity"
            android:parentActivityName=".ui.activities.notesList.NotesListActivity" />
        <activity android:name=".ui.activities.notesList.NotesListActivity" />
        <activity
            android:name=".ui.activities.postNote.PostNoteActivity"
            android:parentActivityName=".ui.activities.notesList.NotesListActivity" />
        <activity
            android:name=".ui.activities.register.RegisterActivity"
            android:parentActivityName=".ui.activities.login.LoginActivity" />
        <activity android:name=".ui.activities.login.LoginActivity" />
        <activity android:name=".ui.activities.intro.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>